@import "reset";

body {
    font-family: Cambria, Cochin, 'Times New Roman', serif;
}

.app {
    background: #fff;
    height: 100%;
    width: 100%;
    max-width: 1600px;

}


.app {
    font-size: 16px;
    color: white;
}
