.Chatroom {
    width: 100%;
    height: 100%;
    background: rgb(189, 156, 156);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.incoming {
    align-self: flex-start;
}