.MainLayout {
    display: grid;
    grid-template-areas: 'left right';
    grid-template-columns: 1fr 2fr;
    width: 100%;
    height: 100vh;
}

.left {
    grid-area: left;
    min-width: 340px;
    padding: 16px 0 16px 0;
}

.right {
    grid-area: right;
    padding: 16px 0 0 16px;
    width: 100%;
}