.MessageList {
    color: inherit;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image:  url('/public/chat_bg.png');
    background-attachment: fixed;
}